<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c5a7bd76-0c97-40ef-88d8-32670e76ef82/resourceGroups/KoiCareSystemAtHome/providers/Microsoft.ContainerRegistry/registries/KoiCareSystemAtHomeBE</ResourceId>
    <ResourceName>KoiCareSystemAtHomeBE</ResourceName>
    <ResourceGroup>KoiCareSystemAtHome</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://koicaresystemathomebe.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>91eb5ea7-f291-4abb-bbee-31dae8622d0f</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>